<ul class="nav justify-content-center col-12 d-flex justify-content-around align-items-center">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="{{path('product')}}">Accueil</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{path('about')}}">à propos</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{path('form_contact')}}">contact</a>
  </li>
  
</ul>